.logo {
  display: flex;
  align-items: center;
  gap: 6px;

  transition: all 0.3s linear;
}

.logo:hover {
  transform: scale(1.1);
}

.logo__main {
  width: 60px;
  height: 45px;
}
@media (min-width: 768px) {
  .logo__clean,
  .logo__truk {
    height: 26px;
  }
  .logo__main {
    width: 99px;
    height: 74px;
  }
}
